@model IEnumerable<ResumeBuilder.Models.Education>

@{
    ViewData["Title"] = "Education";
}

<style>
    label {
        text-align: left;
    }
</style>

<div class="text-left" style="margin-left:18%;">
    <span style="font-size:40px;">Enter Your Educational Details here</span>
    <form method="post" asp-action="SubmitEducation" id="EducationalForm">
        <div>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Name of Institution</label>
                    <input id="txtinstitutename" type="text" class="form-control" name="InstituteName" />
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-12 col-form-label">Degree</label>
                    <input id="txtdegree" type="text" class="form-control" name="Degree" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <label class="col-sm-12 col-form-label">Starting Year</label>
                    <input id="txtstartingdate" type="number" class="form-control" name="StartingYear" />
                </div>
                <div class="col-sm-3">
                    <label class="col-sm-12 col-form-label">Graduation Year</label>
                    <input id="txtendingdate" type="number" class="form-control" name="EndingYear" />
                </div>
                <div class="col-sm-3">
                    <label class="col-sm-12 col-form-label">GPA</label>
                    <input id="txtgpa" class="form-control" name="GPA" />
                </div>

            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
                    <button type="button" onclick="clearForm('EducationalForm')" class="btn btn-primary" style="float: right; margin-right: 5px">Clear</button>

                </div>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped">
        <tbody>
        <thead>
            <tr>
                <th>Name of Institution</th>
                <th>Degree</th>
                <th>Starting Year</th>
                <th>Graduation Year</th>
                <th>GPA</th>
                <th>Actions</th>
            </tr>
        </thead>
            @if (Model == null || !Model.Any())
            {
            <tr>
                <td colspan="7" class="text-center">No education records found.</td>
            </tr>
            }
            else
            {
                @foreach (var education in Model)
                {
                <tr>
                    <td>@education.InstituteName</td>
                    <td>@education.Degree</td>
                    <td>@education.StartingYear</td>
                    <td>@education.EndingYear</td>
                    <td>@education.GPA</td>
                    <td>
                        <a href="@Url.Action("Edit", "Users", new { id = education.EducationID })" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("Delete", "Users", new { id = education.EducationID })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>

</div>


<script type="text/javascript">
    function clearForm(formId) {
        var form = document.getElementById(formId);
        if (form) {
            form.reset();
        }
    }
</script>
